html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.flowerImage {
  /* background-image: url('../public/flowerImg.jpeg'); */
  /* width: 100%; */
  height: auto;
  transform: translate(586.44px, 487.814px) matrix(1,0,0,1,-254.0518,-216.2204) rotate(36deg);
  transform-origin: center;
}
